<header class="navbar navbar-dark bg-dark">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right lider">
            <li><%= link_to "Home",   t("l-home")%></li>
            <li><%= link_to "Help",   t("l-help") %></li>
            <li><%= link_to "Log in", "#" %></li>
          </ul>
        </nav>
      </div>
</header>
