<header class="navbar navbar-dark bg-dark">
  <div class="container">
    <%= link_to "sample app", home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right lider">
        <li><%= link_to t("l-home"), home_path %></li>
        <li><%= link_to t("l-help"), help_path %></li>
        <li><%= link_to t("l-log"), "#" %></li>
      </ul>
    </nav>
</header>
